h4,
h5 {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.detail {
  margin-top: 70px;
  margin-right: 10px;
  width: 69.8%;
  position: fixed;
}
.meta {
  margin: 5px 20px;
  overflow-y: scroll;
  height: 200px;
}
.mete > h2 {
  color: #ffc2c2;
}
.comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.comment__img {
  margin-right: 20px;
  border-radius: 50%;
}
