h4,
h5 {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.detail {
  margin-top: 70px;
  margin-right: 0;
  width: 100%;
}
.meta {
  margin: 5px 20px;
  overflow-y: scroll;
  height: 1000px;
}
.comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.comment__img {
  margin-right: 20px;
  border-radius: 50%;
}
