.video__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-left: 0;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .video__list {
    grid-template-columns: 1fr;
  }
}
